{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Transaction Type</th>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Total Purchase/Sale Price</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.year }}/{{ transaction.month }}/{{ transaction.day }}</td>
                    <td>{{ transaction.hour }}:{{ transaction.minute }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
